/* TEXT */
* {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility !important;
}
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-size: 100%;
    color: rgba(0, 0, 0, .8);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 1.5;
    margin: auto;
    max-width: 70%;
    padding: 16px;
    
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    position: relative;
    font-size: 300%;
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 50px 0;
    text-align: center;
    max-width: 100%;
}
h1:first-child {
    margin-top: 60px;
    padding: 0px 0;
}

h2 {
    margin-top: 50px;
    font-size: 200%;
    text-align: center;
    font-style: italic;
}
h2::after {
    content: "";
    display: block;
    height: 0px;
    width: 80px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid #bbb;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-top: 1.5em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}
img {
    max-width: 100%;
}
p {
    margin: 0 0 1.5em;
}
a:focus, a:hover {
    color: #000;
}
a {
    color: #999;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: underline;
}
blockquote {
    margin: 1.5em;
    margin-left: 0;
    padding-left: 1.5em;
    color: #666;
    border-left: solid 4px #999;
}
strong, dfn {
    font-weight: bold;
}
em, dfn {
    font-style: italic;
}
del {
    color: #666;
}
pre {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt {
    font: 1em Menlo, Consolas, 'DejaVu Sans Mono', 'Courier New', 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}
li ul, li ol {
    margin: 0;
}
ul, ol {
    margin: 0 3em 1.5em 1.5em;
    padding-left: 1.5em;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
figure {
    margin: 1.5em 0;
    width: 100%;
    text-align: center;
}
figcaption {
    font-size: 0.75em;
    padding: 0.5em 2em;
    margin-bottom: 2em;
}
figure img {
    margin-bottom: 0px;
}
code {
    font-family: Menlo, monospace;
    font-size: 90%;
}
p> code {
    padding: 0.2em 0.4em;
    background: #e1e9ed;
}
pre {
    text-align: left;
    overflow-x: scroll;
    color: #d3bd7e;
    background: #202020;
    padding: 10pt 15pt;
    border-radius: 3px;
}
hr {
    border: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin-top: 4em;
    margin-bottom: 2em;
}
h1+ hr {
    margin-top: 2em;
}
ol#footnotes {
    font-size: 0.75em;
    padding-top: 1.5em;
    margin-top: 3em;
    margin-left: 0;
}
ol#footnotes:before {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #333;
    margin-left: -1.5em;
}
ol p, ul p {
    margin-bottom: 0px;
}
li {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}
@keyframes highfade {
    0% {
        background-color: none;
    }
    20% {
        background-color: yellow;
    }
    100% {
        background-color: none;
    }
}
@-webkit-keyframes highfade {
    0% {
        background-color: none;
    }
    20% {
        background-color: yellow;
    }
    100% {
        background-color: none;
    }
}
a:target, ol#footnotes li:target, sup a:target {
    animation-name: highfade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: highfade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
a:target {
    border: 0;
    outline: 0;
}

#trend-module, #price-module, #booking-module {
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}